/*==== initialising the css with body ===*/
body,html{
    font-family: sans-serif;
    font-size: 16px;
    color: #252525;
    margin: 0;
    padding: 0;
    background: #dedede;
}
/*===== form css goes here ==*/
.form{
    width: 75%;
    margin: 2rem auto;
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #f6f6f6;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.form form div{
    padding: 1rem 0;
}
.form form div label{
    display: block;
}
.form form div input{
    margin: 0.5rem 0;
    padding: 0.4rem 0.2rem;
    border: 1px solid #dedede;
}
.form form div input:focus{
    border-bottom-color: #299e26;
    outline: none;
}
.form form div input:focus:invalid{
    border-bottom-color: red;
}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}